<%- include('parts/header')%>
        
      <%- include('parts/navbar')%>
 <% var totalCost = 0%>
        <!-- Start Page Banner -->
        <div class="page-banner-area page-banner-area-a">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Admin Panel</h2>
                            <ul>
                                <li>
                                    <a href="/index">Home</a>
                                </li>
                                <li>Main Panel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Cart Area -->
		<section class="cart-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 mb-1">
                        <% for(let use of user ) { %>
                        <div class="col p-5 bg-light mb-5 rounded d-flex justify-content-around align-items-center">
                        <div class="col-lg-8 col-md-9">
                            <h2><%= use.username%></h2>
                            <p>Seller</p>
                            <p><%= use.number %></p>
                        </div> 
                        <div class="col-lg-4 col-md-3">
                            <img src="../public/img/myIMG/<%= use.gender %>.jpg" class="img-fluid rounded-circle">
                        </div>
                        </div>
                        <% } %>
                        <form>
                            <div class="cart-table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ordered Product</th>
                                            <th scope="col">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                <% for(let product of findNewProducts){ %>

                                 <% totalCost = totalCost + JSON.parse(product.cost) %>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img src="<%= product.imgSrc %>" alt="<%= product.name%> image">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop-details.html"><%= product.name%></a>
                                            </td>
                                           
                                        </tr>
                                     <%} %>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-buttons">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-sm-7 col-md-7">
                                        <a href="/index" class="default-btn text-decoration-none">
                                            Back to Shop
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                                        <a href="/cart" class="default-btn text-decoration-none">
                                            Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                         <div class="cart-totals">
                                <h3>Cart Totals</h3>
                                <ul>
                                    <li>Subtotal 
                                        <span>$<%= totalCost %>.00</span>
                                    </li>
                                    <li>Service fee (-1%) 
                                        <span>$<%= totalCost * 0.01 %></span>
                                    </li>
                                    <li>Total 
                                        <span><b>$<%= totalCost * 0.01 + totalCost%></b></span>
                                    </li>
                                </ul>
                                <a href="/admin" class="default-btn text-decoration-none">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- End Cart Area -->
        
       <%- include('parts/footer')%>