<% var path %>
<% var error %>
<%- include('parts/header')%>
        
      <%- include('parts/navbar')%>

        <!-- Start Page Banner -->
        <div class="page-banner-area page-banner-area-apm  page-banner-area-f">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>New Products in Orgo!</h2>
                            <ul>
                                <li>
                                    <a href="/index">Home</a>
                                </li>
                                <li>New Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Top Products Area -->
        <section class="top-products-area pt-100 pb-100">
            <div class="container">
                <div class="orgo-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <p>We found <span class="count">10</span> products available for you</p>
                    </div>
    
                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <select>
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Latest</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">

                      <% if(error){ %>
                      <div class="alert alert-info"><%= error%></div>
                      <%} else {%>
                      <% for(let product of products){ %>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-products-item">
                            <form action="POST">
                                
                            <div class="products-image">
                                <a href="shop-details.html"><img src="<%= product.imgSrc %>" alt="<%= product.name %> image"></a>

                                <ul class="products-action">
                                    <li>
                                        <button id="addBtn" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></button>
                                    </li>
                                    <li>
                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="sale">
                                    <span>New <i class="fas fa-ad"></i></span>
                                </div>
                            </div>
                                  <input type="hidden" value="<%= product.id %>" name="productID">
                            <div class="products-content">
                                <h3>
                                    <a href=""><%= product.name %></a>
                                </h3>
                                <div class="price">
                                    <span class="new-price">$<%= product.cost %>.00</span>
                                    <span class="old-price">$<%= product.cost + 20 %>.00</span>
                                </div>
                                <ul class="rating">
                                    <li>
                                          <% if(product.popular){ %>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                         <%} else { %>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                         <%}%>
                                    </li>
                                </ul>
                            </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    
                    
                </div>
            </div>
        </section>
        <!-- End Top Products Area -->
        
    <%- include('parts/footer')%>